@import './utils/hiden';
@import './utils/reset';
@import './utils/variables';
@import './components/container';

@import './components/header';
@import './components/header-main';
@import './components/header-lib';
@import './components/film-list';
@import './components/pagination';
@import './components/footer';

@import './components/modal-film-info';
@import './components/modal-avtor.scss';
