.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  margin: 0;
  font-family: DM Sans;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
  border: none;
}

.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

:root {
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --orange-text-color: #ff6b08;
  --footer-text-color: #545454;
  --secondary-title-color: #ffa5ba;
  --bg-color: #ffffff;
  --secondary-bg-color: #f7f7f7;
  --accent-color: #ff6b08;
  --button-accent-color: #ff6b01;
  --button-text-color: #ffffff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  outline: 1px solid red;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 76px;
    padding-right: 76px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

* {
  margin: 0;
  padding: 0;
}

.film {
  outline: 1px solid red;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .film {
    width: 768px;
    padding-left: 76px;
    padding-right: 76px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .film {
    width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

.film__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.film__item {
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .film__item {
    width: 280px;
    margin-bottom: 30px;
  }
  .film__item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .film__item {
    width: 274px;
    margin-bottom: 30px;
  }
  .film__item:not(:nth-child(3n + 3)) {
    margin-right: 30px;
  }
}

.film__img {
  min-width: 100%;
  width: auto;
  height: auto;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.film__info {
  width: 100%;
  padding-top: 10px;
}

.film__name {
  width: 100%;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.film__genre {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FF6B08;
}

.film__rating {
  display: inline-block;
  display: none;
  margin-left: 10px;
  width: 36px;
  height: 16px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #FF6B08;
  color: #ffffff;
}

.pagination-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.arrow {
  border-radius: 20%;
  background-color: #f7f7f7;
}

.arrow:not(:last-child) {
  margin-right: 10px;
}

.pagination-box__link {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  font-family: Roboto;
  font-style: bold;
  font-weight: 900;
  font-size: 12px;
  line-height: 1.33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* radius: 5px; */
  border-radius: 20%;
  color: #000000;
  text-decoration: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pagination-box__link:hover,
.pagination-box__link:focus {
  background-color: #ff6b08;
  color: #fff;
}

.pagination-box__icon {
  fill: currentColor;
}

.footer-bg {
  background-color: var(--secondary-bg-color);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-text_firt {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 30px;
  padding-bottom: 9.9px;
}

@media screen and (min-width: 768px) {
  .footer-text_firt {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }
}

.footer-text_second {
  padding-bottom: 29.7px;
}

@media screen and (min-width: 768px) {
  .footer-text_second {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.footer-text_link {
  padding-left: 5px;
  color: var(--black-text-color);
}

.footer_icon {
  width: 14px;
  height: 13px;
  margin-left: 10px;
  margin-right: 10px;
}

/* normalize */
.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
}

.modal {
  padding: 40px 20px 41px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  width: 280px;
  height: 80vh;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--bg-color);
}

@media screen and (max-width: 767px) {
  .modal {
    overflow-y: scroll;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 42px 29px 52px;
    width: 618px;
    height: 562px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    padding: 50px 30px 40px;
    width: 882px;
    height: 568px;
  }
}

.modal__close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  border: transparent;
  height: 30px;
  width: 30px;
  background: var(--bg-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:focus, .modal__close-btn:active, .modal__close-btn:hover {
  color: var(--button-accent-color);
}

.modal__icon-close {
  height: 14px;
  width: 14px;
  fill: currentColor;
}

.modal__preview-image {
  border-radius: 5px;
  width: 240px;
  height: 357px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .modal__preview-image {
    display: block;
    min-width: 264px;
    min-height: 374px;
    margin: 0 32px 0 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 1024px) {
  .modal__preview-image {
    min-width: 396px;
    min-height: 478px;
    margin: 0 30px 0 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.modal__title-of-film {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #000000;
}

@media screen and (min-width: 1024px) {
  .modal__title-of-film {
    font-size: 30px;
    line-height: 1.16;
  }
}

.modal__specifications {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.specifications-items {
  color: #8C8C8C;
}

.specifications-items__text:not(:last-child) {
  margin-bottom: 10px;
}

.specifications-values {
  margin-left: 40px;
}

.specifications-values_text:not(:last-child) {
  margin-bottom: 10px;
}

.specifications-values_text.slash {
  color: #8C8C8C;
}

.specifications-values_text--vote {
  display: inline-block;
  text-align: center;
  line-height: 16px;
  width: 36px;
  height: 16px;
  border-radius: 5px;
  background: var(--accent-color);
  color: var(--white-text-color);
}

.specifications-values_text--votes {
  display: inline-block;
  text-align: center;
  line-height: 16px;
  width: 36px;
  height: 16px;
  border-radius: 5px;
  background: var(--bg-color);
  color: var(--black-text-color);
}

.specifications-values_text.title {
  text-transform: uppercase;
}

.modal__about-title {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--black-text-color);
}

.modal__about-text {
  margin-bottom: 21px;
  line-height: 1.67;
  color: var(--black-text-color);
}

.modal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-add {
  display: inline-block;
  text-transform: uppercase;
  background-color: var(--bg-color);
  color: var(--black-text-color);
  border: 1px solid #000000;
  border-radius: 5px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-add:active, .btn-add:focus, .btn-add:hover {
  background-color: var(--button-accent-color);
  color: var(--button-text-color);
  border: 1px solid var(--button-accent-color);
}

@media screen and (max-width: 767px) {
  .btn-add {
    width: 112px;
    height: 44px;
  }
}

@media screen and (min-width: 768px) {
  .btn-add {
    width: 125px;
    height: 44px;
  }
}

@media screen and (min-width: 1024px) {
  .btn-add {
    width: 136px;
  }
}

.btn-add.watched {
  margin-right: 15px;
}
/*# sourceMappingURL=main.css.map */