:root {
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --orange-text-color: #ff6b08;
  --footer-text-color: #545454;

  --secondary-title-color: #ffa5ba;

  --bg-color: #ffffff;
  --secondary-bg-color: #f7f7f7;

  --accent-color: #ff6b08;

  --button-accent-color: #ff6b01;
  --button-text-color: #ffffff;
}
$mainFont: 'Roboto', sans-serif;

@mixin transition($property, $time: 250ms, $timingFunction: cubic-bezier(0.4, 0, 0.2, 1)) {
  transition: $property $time $timingFunction;
}

@mixin twoTransitions(
  $propertyI,
  $propertyII,
  $time: 250ms,
  $timingFunction: cubic-bezier(0.4, 0, 0.2, 1)
) {
  transition: $propertyI $time $timingFunction, $propertyII $time $timingFunction;
}
