<section class="container film">
  <!-- <ul class="search-period">
    <li class="search-perios__item list">
      <a class="search-perios__link--week" data-tilt id="week" href="#"></a>
    </li>
    <li class="search-perios__item list">
      <a class="search-perios__link" data-tilt data-tilt-scale="1.3" id="month" href="#"></a>
    </li>
  </ul> -->
  <ul class="film__list">
    <!-- <li class="film__item">
            <img class="film__img " src="./img/title-film.jpg" alt="poster">
            <div class="film__info">
                <h2 class="film__name">GREYHOUND</h2>
                <p class="film__genre" id="my-element-with-background">Drama, Action <span>|</span> <span class="film__year">2020</span><span class="film__rating ">10.0</span> </p>
            </div>
            
        </li>

        <li class="film__item">
            <img class="film__img " src="./img/title-film.jpg" alt="poster">
            <div class="film__info">
                <h2 class="film__name">GREYHOUND</h2>
                <p class="film__genre"id="my-element-with-background" >Drama, Action <span>|</span> <span class="film__year">2020</span><span class="film__rating ">10.0</span> </p>
            </div>
            
        </li>

        <li class="film__item">
            <img class="film__img " src="./img/title-film.jpg" alt="poster">
            <div class="film__info">
                <h2 class="film__name">GREYHOUND</h2>
                <p class="film__genre" id="my-element-with-background">Drama, Action <span>|</span> <span class="film__year">2020</span><span class="film__rating ">10.0</span> </p>
            </div>
            
        </li>

        <li class="film__item">
            <img class="film__img " src="./img/title-film.jpg" alt="poster">
            <div class="film__info">
                <h2 class="film__name">GREYHOUND</h2>
                <p class="film__genre"id="my-element-with-background">Drama, Action <span>|</span> <span class="film__year">2020</span><span class="film__rating ">10.0</span> </p>
            </div>
            
        </li>

        <li class="film__item">
            <img class="film__img " src="./img/title-film.jpg" alt="poster">
            <div class="film__info">
                <h2 class="film__name">GREYHOUND</h2>
                <p class="film__genre" id="my-element-with-background">Drama, Action <span>|</span> <span class="film__year">2020</span><span class="film__rating ">10.0</span> </p>
            </div>
            
        </li>

        <li class="film__item">
            <img class="film__img " src="./img/title-film.jpg" alt="poster">
            <div class="film__info">
                <h2 class="film__name">GREYHOUND</h2>
                <p class="film__genre" id="my-element-with-background">Drama, Action <span>|</span> <span class="film__year">2020</span><span class="film__rating ">10.0</span> </p>
            </div>
            
        </li> -->
  </ul>
</section>
