<footer class="container footer-bg ">
    <div class="footer">
        <p class="footer_text adds"> © 2020 | All Rights Reserved </p>
        <p class="footer_text adds">| Developed with</p>


        <svg class="icon">
            <use href="./img/symbol-defs.svg#icon-Hardsvg1x"></use>
        </svg>
        <span class="by">by</span>
        <p class="footer_text goit">
<a href= GoIT Students style="color:var(--black-text-color)">GoIT Students</a>
        </p>

        
    </div>


</footer>

