
    <header class="header-bg-lib container" id="my-element-with-background">
        
            <div class="header-section-lib">
                <nav class="navigation">
                    <div class="navigation__filmoteka">
                        <a class="navigation__logo logo">
                            <svg class="logo__icon" width="24" height="24">
                                <use href="./img/sprite.svg#logo"></use>
                            </svg>
                            <span class="logo__name">Filmoteka</span>
                        </a>
                    </div>
                    <div class="header-authorization">
                        <a href="" class="header-authorization__text">LOG IN</a>
                        <a href="" class="header-authorization__item"><svg class="vector-icon" width="24" height="21">
                                <use href="./img/sprite.svg#icon-Vector"></use>
                            </svg></a>
                    </div>
                </nav>
                <ul class="side-nav list">
                    <li class="side-nav__item">
                        <a href="./index.html" class="side-nav__link">Home</a>
                    </li>
                    <li class="side-nav__item">
                        <a href="" class="side-nav__link side-nav__link--current-page">My library</a>
                    </li>
                </ul>
                </nav>

                <form>
                    <div role="group">
                        <ul class="storage list">
                            <li class="storage__item">
                                <label class="storage__label">
                                    <input type="radio" name="storage-btn" value="Watched"
                                        class="storage__input visually-hidden" checked />
                                    <span class="storage__btn">Watched</span>
                                </label>
                            </li>
                            <li class="storage__item">
                                <label class="storage__label">
                                    <input type="radio" name="storage-btn" value="Queue"
                                        class="storage__input visually-hidden" />
                                    <span class="storage__btn">Queue</span>
                                </label>
                            </li>
                        </ul>
                </form>
            </div>
       
    </header>
