<header class="header-section my-element-with-background">
  <div class="container header-bg-lib header-bg" id="header">
    <nav class="navigation">
      <h1 hidden>Filmoteka</h1>
      <ul class="side-nav list">
        <li class="side-nav__item side-nav__item--logo">
          <button type="button" class="navigation__logo logo" id="navigation-logo">
            <svg class="logo__icon" width="24" height="24">
              <use href="./img/sprite.svg#logo"></use>
            </svg>
            <span class="logo__name lng-film">Filmoteka</span>
          </button>
        </li>
        <li class="side-nav__item">
          <button
            type="button"
            class="side-nav__link side-nav__link--navigation home side-nav__link--current lng-home"
            data-action="false"
          >
            HOME
          </button>
        </li>
        <li class="side-nav__item side-nav__item--libery display-none">
          <button
            type="button"
            class="side-nav__link side-nav__link--navigation library lng-lib"
            data-action="false"
          >
            MY LIBRARY
          </button>
        </li>
        <li class="side-nav__item">
          <button
            type="button"
            class="side-nav__link side-nav__link--navigation login lng-log"
            data-action="false"
          >
            LOG IN
          </button>
        </li>
      </ul>
    </nav>

    <form class="search-form" id="home-page">
      <input
        type="text"
        name="query"
        autocomplete="off"
        placeholder="Search movies"
        class="search-field"
      />
      <button type="submit" class="search-btn">
        <svg class="search-icon" width="12" height="12">
          <use href="./img/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <p class="warning-notification is is-hidden lng-search">
      Search result not successful. Enter the correct movie name.
    </p>
    <form class="form-group is-hidden" id="library-page">
      <div role="group">
        <ul class="storage list">
          <li
            class="storage__item"
          >
            <label class="storage__label">
              <input
                type="radio"
                name="storage-btn"
                value="watched"
                class="storage__input visually-hidden radio-watched"
                checked
              />
              <span class="storage__btn lng-watch">Watched</span>
            </label>
          </li>
          <li
            class="storage__item"
          >
            <label class="storage__label">
              <input
                type="radio"
                name="storage-btn"
                value="queue"
                class="storage__input visually-hidden radio-queue"
              />
              <span class="storage__btn lng-queue">Queue</span>
            </label>
          </li>
        </ul>
      </div>
    </form>
  </div>
</header>
