<div class="backdrop-menu" data-modal>
    <div class="container modal-container">
        <div class="modal-menu ">

            <button type="button" class="modal-menu__button" data-modal-close>
                <svg class="modal-button__icon" width="10" height="10">
                    <use href="./img/sprite.svg#icon-modal-close"></use>
                </svg>
            </button>

            <form class="options-wrapper">

                <div class="theme-wrapper list">
                    <button class="btn-lang" type="button" id="ru">Светлая</button>
                    <label class="switch">
                        <input type="checkbox" class="checkbox-theme" checked>
                        <span class="slider-theme round"></span>
                    </label>
                    <button class="btn-lang" type="button" id="en">Темная</button>
                </div>


                <div class="lang-wrapper list">
                    <button class="btn-lang" type="button" id="ru">Русский</button>
                    <label class="switch ">
                        <input type="checkbox" class="checkbox-lang" checked>
                        <span class="slider-lang round"></span>
                    </label>
                    <button class="btn-lang" type="button" id="en">English</button>
                </div>

                <div class="categoty-wrapper list">
                    <button class="btn-lang" type="button" id="">Категории
                        <div class="categoty-box">
                            <button type="radio" class="categoty__options ">Комедии</button>
                            <button type="radio" class="categoty__options ">Комедии</button>
                            <button type="radio" class="categoty__options">Детективы</button>
                        </div>
                    </button>
                </div>
            </form>
            
        </div>
    </div>
</div>