<div class="backdrop_registro is-hidden">


    <div class="modal_registr">
        <div class="modal-main_text">
            <p class="modal-second_text modal-fon">РЕГИСТРАЦИЯ</p>
            <svg class="modal__icon">
                <use href="./img/sprite.svg#icon-modal-close"></use>
            </svg>
        </div>
        <form action="">
            <span class="modal-forms modal-second_text">
                <input type="text" id="input-login" class="modal-form__placeholder adds" name="modal-name"
                    placeholder="ПОЧТА">
                <input type="text" id="input-parol" class="modal-form__placeholder" name="modal-name"
                    placeholder="ПАРОЛЬ">
            </span>

            <div class="modal__buttons modal-second_text">
                <button type="button" class="modal-btn queue">РЕГИСТРАЦИЯ</button>
            </div>
        </form>
    </div>
</div>