<div class="background is-hidden">

  <div class="modal">

    <button class="modal__close-btn">

      <svg class="modal__icon-close">
          <use href="./img/sprite.svg#icon-modal-close"></use>
      </svg>

    </button>

    <img src="./img/template-title-film.png" alt="preview-film" class="modal__preview-image">

    <div class="modal__text-content">

      <h2 class="modal__title-of-film">A fistful of lead</h2>

      <div class="modal__specifications">

        <div class="specifications-items">
          <p class="specifications-items__text">Vote/Votes</p>
          <p class="specifications-items__text">Popularity</p>
          <p class="specifications-items__text">Original Title</p>
          <p class="specifications-items__text">Genre</p>
        </div>

        <div class="specifications-values">
          <p class="specifications-values_text slash">
            <span class="specifications-values_text--vote">7.3</span>
            /
            <span class="specificationonens-values_text--votes">1260</span>
          </p>
          <p class="specifications-values_text popularity"> 100.2</p>
          <p class="specifications-values_text title">A fistful of lead</p>
          <p class="specifications-values_text genre">Western</p>
        </div>

      </div>


      <h3 class="modal__about-title">About</h3>

      <p class="modal__about-text">
        Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt
        settlement
        of the
        gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out
        in the
        abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the
        very same
        bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead...
        they’ve
        been double crossed – but by who and how?
      </p>

      <div class="modal__buttons">
        <button type="button" class="btn-add watched">Add to watched</button>
        <button type="button" class="btn-add queue">Add to queue</button>
      </div>

    </div>


  </div>


</div>