<div class="backdrop is-hidden">
  <div class="modal-avtoris">
    <div class="modal-header">
      <p class="modal-text modal-font lng-avtor">AUTHORIZATION</p>
      <svg class="modal__icon-close">
        <use href="./img/sprite.svg#icon-modal-close"></use>
      </svg>
    </div>
    <form class="form-authorization">
      <span class="modal-form modal-text">
        <label class="position">
          <input
            type="text"
            class="modal-form__placeholder input-login adds"
            name="login"
            placeholder="login"
            value="lol@gmail.com"
          />
          <span class="form-authorization__error form-authorization__error--login is-hidden"
            >Ви ще не зареєстровані.</span
          >
        </label>
        <label class="position">
          <input
            type="text"
            class="modal-form__placeholder input-parol form_password"
            name="password"
            placeholder="password"
            value="11"
          />
          <span class="form-authorization__error form-authorization__error--password is-hidden"
            >Невірний пароль.</span
          >
        </label>
      </span>

      <div class="modal__buttons modal-text">
        <button type="submit" class="modal-btn auth-sign-in">
          <span class="modal-btn_text lng-sing">Sign in</span>
          <span class="loader is-hidden"></span>
        </button>
        <button
          type="button"
          name="registration"
          class="modal-btn queue modal-registration lng-acc"
        >
          Create Account
        </button>
      </div>
    </form>
  </div>
</div>
