<nav class=" container">
    <div id="pagination" class="pagination-box">
        
        <!-- <a href="#" class="pagination-box__link arrow">
            <svg class="pagination-box__icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-arrow-right"></use>
            </svg>
        </a>
       
        <a href="#" class="pagination-box__link">1</a>
        <a href="#" class="pagination-box__link">2</a>
        <a href="#" class="pagination-box__link">3</a>
        <a href="#" class="pagination-box__link ">...</a>
        
        <a href="#" class="pagination-box__link arrow">
            <svg class="pagination-box__icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-arrow-left"></use>
            </svg>
         </a> -->
        
    </div>
</nav> 
