<nav class="navigation container">
    <div class="pagination-box">
        <div class="pagination-box__arrow">
            <a href="#" class="pagination-box__link">
                <svg class="pagination-box__icon" width="20" height="20">
                    <use href="./img/sprite.svg#icon-arrow-right"></use>
                </svg>
            </a>
        </div>
        <div class="pagination-box__digit"><a href="#" class="pagination-box__link">1</a></div>
        <div class="pagination-box__digit"><a href="#" class="pagination-box__link">2</a></div>
        <div class="pagination-box__digit"><a href="#" class="pagination-box__link">3</a></div>
        <div class="pagination-box__digit"><a href="#" class="pagination-box__link">...</a></div>
        <div class="pagination-box__arrow">
            <a href="#" class="pagination-box__link">
                <svg class="pagination-box__icon" width="20" height="20">
                    <use href="./img/sprite.svg#icon-arrow-left"></use>
                </svg>
            </a>
        </div>
    </div>
</nav> 