<div class="team-modal-backdrop" data-modal>
    <div class="team-modal team-modal-window">
        <button class="team-modal__close-button close-button" type="button" data-modal-close>
            <div class="close-button__icon"></div>
        </button>
        <div class="team-modal__header">
            <p class="team-modal__title" lang="en">THERE IS NO <span class="team-modal__logo" lang="en">PL<img
                        class="team-modal__label" src="./img/logo.png " alt="логотип команды" width="60"
                        height="60" />N</span> B</p>
        </div>
        <div class="team-modal__wraper">
            <ul class="team-modal__card-list list">
                <li class="team-modal__card-item">

                    <div class="team-modal__card-wraper">
                        <div class="team-modal__card-thumb">
                            <img class="team-modal__foto" src="./img/bogdan1x.jpg" alt="Фото Богдан Возняк" width="120"
                                height="120">
                        </div>

                        <div class="team-modal__card-content">
                            <h3 class="team-modal__name">Богдан Возняк</h3>
                            <p class="team-modal__profession" lang="en">Project<br>TeamLead</p>



                            <ul class="team-modal__social-list list">
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions" href="https://github.com/"
                                        target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-vector-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions"
                                        href="https://web.telegram.org/z/" target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-telegram-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions"
                                        href="https://uk-ua.facebook.com/" target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-facebook-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions" href="https://ua.linkedin.com/"
                                        target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-linkedin-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </li>


                <li class="team-modal__card-item">

                    <div class="team-modal__card-wraper">
                        <div class="team-modal__card-thumb">
                            <img class="team-modal__foto" src="./img/vlada1x.jpg" alt="Фото Влада Думбадзе" width="120"
                                height="120">
                        </div>

                        <div class="team-modal__card-content">
                            <h3 class="team-modal__name">Влада Думбадзе</h3>
                            <p class="team-modal__profession" lang="en">Project<br>ScrumMaster</p>




                            <ul class="team-modal__social-list list">
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions"
                                        href="https://github.com/VladaDumbadze/" target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-vector-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions"
                                        href="https://web.telegram.org/z/" target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-telegram-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions"
                                        href="https://www.facebook.com/vlada.dumbadze.3" target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-facebook-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions"
                                        href="https://www.linkedin.com/mwlite/in/vladadumbadze2689" target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-linkedin-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </li>


                <li class="team-modal__card-item">

                    <div class="team-modal__card-wraper">
                        <div class="team-modal__card-thumb">
                            <img class="team-modal__foto" src="./img/pavel1x.jpg" alt="Фото Павел Сарабеев" width="120"
                                height="120">
                        </div>

                        <div class="team-modal__card-content team-modal__card-content--oneline">
                            <h3 class="team-modal__name">Павел Сарабеев</h3>
                            <p class="team-modal__profession" lang="en">Project<br>Developer</p>




                            <ul class="team-modal__social-list list">
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions" href="https://github.com/"
                                        target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-vector-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions"
                                        href="https://web.telegram.org/z/" target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-telegram-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions"
                                        href="https://uk-ua.facebook.com/" target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-facebook-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions" href="https://ua.linkedin.com/"
                                        target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-linkedin-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </li>


                <li class="team-modal__card-item">

                    <div class="team-modal__card-wraper">
                        <div class="team-modal__card-thumb">
                            <img class="team-modal__foto" src="./img/andrey1x.jpg" alt="Фото Андрей Кривой" width="120"
                                height="120">
                        </div>

                        <div class="team-modal__card-content">
                            <h3 class="team-modal__name">Андрей Кривой</h3>
                            <p class="team-modal__profession" lang="en">Project<br>Developer</p>




                            <ul class="team-modal__social-list list">
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions"
                                        href="https://github.com/Ronelos" target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-vector-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions" href="https://t.me/Ronelos"
                                        target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-telegram-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions"
                                        href="https://uk-ua.facebook.com/" target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-facebook-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions"
                                        href="https://www.linkedin.com/feed/" target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-linkedin-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </li>


                <li class="team-modal__card-item">

                    <div class="team-modal__card-wraper">
                        <div class="team-modal__card-thumb">
                            <img class="team-modal__foto" src="./img/dima1x.jpg" alt="Фото Дмитрий Радзивил" width="120"
                                height="120">
                        </div>

                        <div class="team-modal__card-content">
                            <h3 class="team-modal__name">Дмитрий Радзивил</h3>
                            <p class="team-modal__profession" lang="en">Project<br>Developer</p>




                            <ul class="team-modal__social-list list">
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions"
                                        href="https://github.com/bukashenysh" target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-vector-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions" href="https://t.me/bukashenysh"
                                        target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-telegram-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions"
                                        href="https://uk-ua.facebook.com/" target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-facebook-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions" href="https://ua.linkedin.com/"
                                        target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-linkedin-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </li>


                <li class="team-modal__card-item">

                    <div class="team-modal__card-wraper">
                        <div class="team-modal__card-thumb">
                            <img class="team-modal__foto" src="./img/alena1x.jpg" alt="Фото Алена Пугач" width="120"
                                height="120">
                        </div>

                        <div class="team-modal__card-content">
                            <h3 class="team-modal__name">Алена Пугач</h3>
                            <p class="team-modal__profession" lang="en">Project<br>Developer</p>




                            <ul class="team-modal__social-list list">
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions" href="https://github.com/"
                                        target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-vector-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions"
                                        href="https://web.telegram.org/z/" target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-telegram-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions"
                                        href="https://uk-ua.facebook.com/" target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-facebook-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions" href="https://ua.linkedin.com/"
                                        target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-linkedin-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </li>


                <li class="team-modal__card-item">

                    <div class="team-modal__card-wraper">
                        <div class="team-modal__card-thumb">
                            <img class="team-modal__foto" src="./img/eugeni1x.jpg" alt="Фото Евгения Александрова"
                                width="130" height="130">
                        </div>

                        <div class="team-modal__card-content team-modal__card-content--twoline">
                            <h3 class="team-modal__name">Евгения Александрова</h3>
                            <p class="team-modal__profession team-modal__profession--twoline" lang="en">
                                Project<br>Developer
                            </p>


                            <ul class="team-modal__social-list list">
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions"
                                        href="https://github.com/EugeniaAlex" target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-vector-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions" href="https://t.me/EuAleks"
                                        target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-telegram-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions"
                                        href="https://uk-ua.facebook.com/" target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-facebook-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions" href="https://ua.linkedin.com/"
                                        target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-linkedin-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </li>


                <li class="team-modal__card-item">

                    <div class="team-modal__card-wraper">
                        <div class="team-modal__card-thumb">
                            <img class="team-modal__foto" src="./img/inna1x.jpg" alt="Фото Инна Бронникова" width="120"
                                height="120">
                        </div>

                        <div class="team-modal__card-content">
                            <h3 class="team-modal__name">Инна Бронникова</h3>
                            <p class="team-modal__profession" lang="en">Project<br>Developer</p>



                            <ul class="team-modal__social-list list">
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions" href="https://github.com/13Inna"
                                        target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-vector-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions" href="https://t.me/NNA_BRO"
                                        target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-telegram-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions"
                                        href="https://www.facebook.com/profile.php?id=100022997777887" target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-facebook-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions" href="https://ua.linkedin.com/"
                                        target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-linkedin-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </li>


                <li class="team-modal__card-item">

                    <div class="team-modal__card-wraper">
                        <div class="team-modal__card-thumb">
                            <img class="team-modal__foto" src="./img/denny1x.jpg" alt="Фото Данил Лоенко" width="120"
                                height="120">
                        </div>

                        <div class="team-modal__card-content">
                            <h3 class="team-modal__name">Данил Лоенко</h3>
                            <p class="team-modal__profession" lang="en">Project<br>Developer</p>


                            <ul class="team-modal__social-list list">
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions"
                                        href="https://github.com/D4nnyRose" target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-vector-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions" href="https://t.me/D4nnyRose"
                                        target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-telegram-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions"
                                        href="https://www.facebook.com/profile.php?id=100007760020434" target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-facebook-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-modal__social-item">
                                    <a class="team-modal__social-link link transitions"
                                        href="https://www.linkedin.com/in/danylo-loienko-63791b207/" target="_blank">
                                        <svg class="team-modal__social-icon" width="16" height="16">
                                            <use class="transitions" href="./img/team-modal.svg#icon-linkedin-opt">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </li>
            </ul>

            <p class="team-modal__motto" lang="en">I LOVE <span class="team-modal__motto-it">IT</span></p>
        </div>
    </div>
</div>