.switch {
  position: fixed;
  display: inline-block;
  width: 70px;
  height: 50px;

  bottom: 31px;
  right: 32px;
  // bottom: 100px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: rgb(8, 8, 8);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider.bg {
  background: linear-gradient(45deg, rgb(255, 255, 255) 29%, rgb(0, 0, 0) 80%);
}
.slider:before {
  position: absolute;
  content: '☀️';

  font-size: 40px;
  height: 40px;
  width: 40px;
  // top: px;
  left: 2px;
  bottom: 4px;
  // background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(45deg, rgb(0, 0, 0) 18%, rgb(255, 255, 255) 75%);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(253, 253, 253);
}

input:checked + .slider:before {
  content: '🌙';
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  bottom: 7px;
  left: 0;
}

// .darkmode-layer {
//   z-index: 11;
// }

.darkmode-toggle {
  opacity: 0;
  z-index: 99;
  position: fixed;
  display: inline-block;
  width: 70px !important;
  height: 50px !important;
  border-radius: 34px !important;
  bottom: 31px !important;
  right: 32px;
}
.darkmode-layer--button {
  width: 30px;
  height: 30px;
  right: -40px;
  bottom: -40px;
}
.darkmode--activated .my-element-with-background {
  filter: invert(0);
}
