* {
  margin: 0;
  padding: 0;
}
.film {
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  @media screen and (min-width: 1024px) {
    padding-left: 71px;
    padding-right: 71px;
  }
}

.film__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.film__item {
  width: 100%;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 280px;
    margin-bottom: 30px;
    &:nth-child(odd) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1024px) {
    width: 274px;
    margin-bottom: 30px;
    &:not(:nth-child(3n + 3)) {
      margin-right: 30px;
    }
  }

  &:hover,
  &:focus {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
    cursor: pointer;
  }

  &:active {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    background-color: rgba(32, 24, 24, 0.137);
    border-radius: 5px;
  }
}

.film__img {
  min-width: 100%;
  width: auto;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  @media screen and (min-width: 768px) {
  }
}

.film__info {
  width: 100%;
  padding-top: 7px;
  padding-left: 3px;
  padding-bottom: 3px;
}

.film__name {
  width: 100%;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.film__genre {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ff6b08;
}
.film__rating {
  display: inline-block;
  display: none;
  margin-left: 10px;
  width: 36px;
  height: 16px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #ff6b08;
  color: #ffffff;
}

//===========PERID BTNS===========
.search-period {
  display: flex;
  margin-bottom: 10px;
}
.search-perios__item:not(:last-child) {
  margin-right: 10px;
}
.search-perios__link {
  position: relative;
  display: inline-block;
  padding: 1.2em 2em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: white;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(135deg, #ff6b08, #e6b290);
    border-radius: 4px;
    transition: box-shadow 0.5s ease, transform 0.2s ease;
    will-change: transform;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0))
      translateZ(var(--tz, -12px));
  }

  &:hover::before {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  &::after {
    position: relative;
    display: inline-block;
    content: attr(data-title);
    transition: transform 0.2s ease;
    font-weight: bold;
    letter-spacing: 0.01em;
    will-change: transform;
    transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0));
  }
}
