.footer-bg {
  background-color: var(--secondary-bg-color);
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1024px) {
  }
}

.footer-text_firt {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 30px;
  padding-bottom: 9.9px;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }

  @media screen and (min-width: 1024px) {
  }
}

.footer-text_second {
  padding-bottom: 29.7px;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1024px) {
  }
}
.footer-text_link {
  padding-left: 5px;
  color: var(--black-text-color);
}
.footer_icon {
  width: 14px;
  height: 13px;
  //   padding-bottom: 29px;
  margin-left: 10px;
  margin-right: 10px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1024px) {
  }
}
