.backdrop_registro {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal_registr {
  background-color: grey;
  display: flex;
  flex-direction: column;
  outline: 1px solid green;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  //   box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
  //     0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  padding: 20px 20px 20px 20px;

  min-width: 300px;
  min-height: 287px;
  @media screen and (min-width: 768px) {
    // overflow-y: scroll;
    width: 450px;
    height: 350px;
  }
  @media screen and (min-width: 1024px) {
    min-width: 500px;
    min-height: 300px;
  }
}
.modal-main_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modal__icon {
  //   display: flex;

  height: 10px;
  width: 10px;
  color: var(--button-accent-color);
  fill: currentColor;
  //   margin-left: 210px;
  &:active,
  &:focus,
  &:hover {
    color: var(--white-text-color);
  }
  @media screen and (min-width: 768px) {
    // margin-left: 250px;
  }
  @media screen and (min-width: 1024px) {
    // margin-left: 300px;
  }
}

.modal-second_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  color: var(--white-text-color);
  line-height: 1.3;
}
.modal-fon {
  font-size: 14px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1024px) {
  }
}
.modal-forms {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
// .modal-form__placeholder {
//   font-family: Roboto;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 1.3;
//   background-color: #e5e5e5;
//   //   width: 300px;
//   height: 40px;
//   padding-left: 5px;

//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;
//   transition: border cubic-bezier(0.4, 0, 0.2, 1);
// }

// .adds {
//   margin-bottom: 10px;
//   @media screen and (min-width: 768px) {
//     margin-bottom: 20px;
//   }

//   @media screen and (min-width: 1024px) {
//     margin-bottom: 30px;
//   }
// }
.modal__buttons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }

  @media screen and (min-width: 1024px) {
    padding-top: 50px;
  }
}

.modal-btn {
  font-size: 14px;
  width: 110px;
  height: 45px;

  display: inline-block;

  text-transform: uppercase;
  background-color: var(--button-accent-color);
  border: 1px solid var(--button-accent-color);

  color: var(--button-text-color);

  border-radius: 5px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:active,
  &:focus,
  &:hover {
    color: var(--black-text-color);
    background-color: var(--white-text-color);
    border: 1px solid var(--black-text-color);
  }

  @media screen and (min-width: 768px) {
    width: 145px;
    height: 44px;
  }

  @media screen and (min-width: 1024px) {
  }
}
