.pagination-box {
  display: flex;
  justify-content: center;
  // justify-content: space-between;
  list-style: none;
}

.tui-prev {
  border-radius: 20%;

  background-image: url(../img/arrow-left2.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px 20px;
}
.tui-next {
  border-radius: 20%;

  background-image: url(../img/arrow-right2.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px 20px;
}

.tui-page-btn {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  font-family: Roboto;
  font-style: bold;
  font-weight: 900;
  font-size: 12px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  justify-content: center;
  /* radius: 5px; */
  border-radius: 20%;
  // margin: auto;
  color: #000000;
  text-decoration: none;
  // transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tui-page-btn:hover,
.tui-page-btn:focus {
  filter: invert(0);
  background-color: #ff6b08;
  color: #fff;
}

.tui-prev:hover,
.tui-prev:focus {
  border-radius: 20%;

  background-image: url(../img/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px 20px;
}
.tui-next:hover,
.tui-next:focus {
  border-radius: 20%;

  background-image: url(../img/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px 20px;
}

.pagination-box__icon {
  fill: currentColor;
}

.tui-is-selected {
  filter: invert(0);
  background-color: #ff6b08;
  color: #fff;
}

.tui-pagination .tui-isselected,
.tui-page-inputs .tui-page-current,
.tui-pagination strong {
  color: #fff;
  background: #ff6b08;
  border-radius: 20%;
  cursor: default;
}

.tui-first,
.custom-class-last {
  display: none;
}

.tui-prev.tui-is-disabled {
  background-color: rgb(184, 183, 183);
}
.tui-prev.tui-is-disabled:hover {
  background-color: rgb(184, 183, 183);
  background-image: url(../img/arrow-left2.svg);
}

.tui-next.tui-is-disabled {
  background-color: rgb(184, 183, 183);
}
.tui-next.tui-is-disabled:hover {
  background-color: rgb(184, 183, 183);
  background-image: url(../img/arrow-right2.svg);
}

.darkmode--activated .my-element-with-background.tui-page-btn {
  color: #fff;
}
