.change-lang {
  border: 1px solid var(--accent-color);
  font-family: DM Sans;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  //   color: var(--accent-color);
  border-radius: 20px;
}
.lang_text {
  color: var(--accent-color);
}
// .section {
//   border-bottom: 1px solid var(--accent-color);
// }
